*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #CDB380;
}
/* CSS related to any nav tag with the menu tag */
nav.menu{
    width: 100%;
    height: 50px;
    background-color: #036564;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav.menu h1{
    float: left;
    line-height: 50px;
    /* border: 1px solid green; */
    left: 15%;
    position: absolute;
    color: #CDB380;
}
nav.menu ul{
    list-style: none;
    position: absolute;
    /* border: 3px dashed tan; */
    right: 15%;
    height: 50px;
}
nav.menu li{
    padding:10px;
    background-color: #036564;
    text-align: center;
    vertical-align: middle;    
    color: #CDB380;
    /* border: 1px solid green; */
}
nav.menu li:hover{
    background-color: grey;
    border: 5px white;
    border-style: none solid solid solid;
}
nav.menu a{
    float: left;
    text-decoration: none;
    line-height: 25px;

    font-weight: bold;
}
/* CSS related to footer */
footer{
    clear: both;
    background: #036564;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer p{
    text-align: center;
}
/* CSS related to the body section */
.pagecontainer{
    position: relative;
    min-height: 100vh;
    overflow:auto;
}
body{
    background-image: url(../images/memphis-mini-dark.png);
}
.full{
    width:100%
}
.content{
    clear:both;
    width: 60%;
    margin: 5% auto;
    overflow: auto;
    padding: 2%;
    background-color: gray;
}

.longLine{
    position: relative;
    background-color: #036564;
    height: 3px;
    margin: 15px 0;
}
.profile{
    float:left;
    margin: 20px;
}
.centerContent{
    text-align: center;
}
.leftContent{
    text-align: left;
}
.project{
    display:inline-block;
    position: relative;
    margin: 15px;
}
.project:hover img{
    opacity: .1;
}
.project:hover .hiddentext{ 
    /* opacity: 1; */
    visibility: visible;
}

.project img{
    width: 300px;
    /* border: 1px solid blue; */
}
.project .projectname{
    box-sizing:border-box;
    background-color: #036564;
    position: absolute;
    bottom:5%;
    /* border: 1px solid yellow; */
    float:left;
    width:100%;
    height: 2em;
    font-weight: bold;
    display:table;
    border: 1px solid #E8DDCB;
}
.projectname p{
    vertical-align: middle;
    display:table-cell;
    text-align: center;
}

.project .hiddentext{
    
    box-sizing:border-box;
    position: absolute;
    top: 1em;
    padding: 1em;
    visibility: hidden;
    text-align: left;
    font-size: 120%;
    color: #E8DDCB;
    background-color: #031634;
    opacity: 1;
    z-index: 1;
    width: 100%;
    border: 1px solid #E8DDCB;
}